@model ProjeApiModel.DTOs.Data.CategoryDTO

@{
    ViewData["Title"] = "Yeni Kategori Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <!-- CategoryId input alanını eklemiyoruz -->
    <div class="form-group mb-3">
        <label asp-for="CategoryName" class="form-label"></label>
        <input asp-for="CategoryName" class="form-control" />
        <span asp-validation-for="CategoryName" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="CategoryDescription" class="form-label"></label>
        <textarea asp-for="CategoryDescription" class="form-control"></textarea>
        <span asp-validation-for="CategoryDescription" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Kategori Ekle</button>
</form>
